<div class="row">
    <div class="col-md-6 col-md-4 mx-auto">
        <div id="success" class="alert alert-success {{#if noMessage}} d-none{{/if}}">
            {{successMsg}}
        </div>
    </div>
</div>
{{# each products}}
<div class="row">
    {{# each this}}
    <div class="col-md-6 col-sm-12 col-lg-3 my-3">
        <div class="card d-none scroll" style="width: 18rem;">

            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <div class="contain">
                            <img class="card-img-top image" src="{{this.imagePath}}" alt="Card image cap">

                            <div class="middle">
                                <div class="text rounded btn btn-info ">Know More</div>
                            </div>
                        </div>
                    </div>
                    <div class="back text-center">
                        <div class=" text-dark card-body">
                            <h5 class="card-title text-center heading-secondary">{{this.title}}</h5>
                            <p class="card-text text-center">{{this.description}}</p>

                            <hr>
                            <div class="price  text-center heading-secondary">${{this.price}}
                                <br>
                                <hr>
                                <a href="/add-to-cart/{{this._id}}" class="btn btn-success ">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/each}}
</div>
{{/each}}








<script>
    window.sr=ScrollReveal();
      
   setTimeout(()=>{
let element = document.querySelectorAll(".scroll");

element.forEach((e)=>{
e.classList.remove("d-none");
sr.reveal('.scroll', { duration: 2000 }, 50);
   },3000)
});


    $(document).on("click", ".flip-container", function () {
        $(this).toggleClass('hover');
    });
</script>